:root{
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);  
    --Off_black: hsl(0, 0%, 8%);
}
body{
    font-family: "Poppins";
    background: var(--Light_grey);
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-weight: bold;
}
#all{
    background: var(--White);
    width: 537px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    border-bottom-right-radius: 120px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#all_date{
    display: flex;
    gap: 30px;
    
}
.date input{
    width: 90px;
    height: 20px;
    padding: 10px;
    color: #000;
    Font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    border: 1px solid;
    border-color: #0000005d;
}
.date label{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 3px;
    color: #000;
    opacity: 0.5;
}
.date label{
    display: block;
}
.date p{
    padding: 0;
    margin: 0 4px;
    margin-top: 0px;
    font-weight: 300;
    color: var(--Light_red);
    font-size: 12px;
}
hr{
    width: 460px;
    margin-bottom: 16px;
}
#sumbit{
    display: ruby;
}
button{
    height: 65px;
    width: 65px;
    border-radius: 1000px;
    background-color: var(--Purple) ;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3;
}
button:active{
    background: #000;
}

.time{
    display: flex;
    Font-size: 32px;
    text-decoration: initial;
}
.time h1{
    margin: 0;
}
.number{
    color: var(--Purple);
    letter-spacing: 5px;
}
@media (max-width:606px) {
    #all{
        width: 300px;
        display: block;
    }
    #all_date{
        gap: 5px;
        margin-bottom: 10px;
    }
    .date input{
    width: 72px;
    height: 10px;
    }
    .time{
        font-size: 28px;
    }
    
    hr{
        width: 300px;
        margin-bottom: -32px;
    }
    svg{
        height: 40px;
            width: 30px;
    }
    button{
        height: 50px;
        width: 50px;
        position: relative;
        top: 24%;
        left: 45%;
    }
}